<section class="SessionNew-section">
  <p class="SessionNew-title">
    Welcome to the Cafe Raj's Sign-in page
  </p>
</section>
<section class="SessionNewForm-section">
  <%= form_with url: sessions_path do |form| %>
    <div class="SessionNewForm-div">
      <p class="SessionNewForm-paragraph">
        Email
      </p>
      <%= form.email_field :email, class: "SessionNewForm-email", autofocus: true %>
    </div>
    <div class="SessionNewForm-div">
      <p class="SessionNewForm-paragraph">
        Password
      </p>
      <%= form.password_field :password, class: "SessionNewForm-password" %>
    </div>
    <div class="SessionNewForm-div">
      <%= form.submit "Sign-in", class: "SessionNew-submitButton" %>
    </div>
  <% end %>
</section>
