.OrderList-div {
  display: flex;
  align-items: baseline;
}

.OrderTable {
  width: 50%;
  border: 2px;
  border-color: brown;
}

.OrderCart-div {
  height: fit-content;
  width: 95%;
  border: 2px solid maroon;
}

.OrderClerk-total {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 15px;
}

.OrderConfirm-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 5px;
}
.CartItem-div {
  margin-bottom: 2px;
}
.CartItem-confirm {
  font-weight: bold;
}
.CartQuantity-div {
  display: flex;
  align-items: baseline;
  align-content: space-between;
}
.Cart-item_quantity {
  font-size: small;
  font-weight: bold;
  text-align: center;
  width: 15px;
  margin-left: 2px;
  margin-right: 2px;
}
.CartItem-minus {
  margin-right: 2px;
  margin-left: 7px;
  font-size: larger;
  font-weight: bold;
}
.CartItem-plus {
  margin-left: 2px;
  margin-right: 3px;
  font-size: larger;
  font-weight: bold;
}
.CartItemHeading-name {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.OrderItemHeading-div {
  display: flex;
  height: fit-content;
  margin-left: 5px;
}

.OrderItemHeading-name {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  width: 180px;
  margin-left: 65px;
  margin-right: 10px;
}
.ItemHeading-description {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  width: 70px;
  margin-left: 25px;
  margin-right: 10px;
}
.ActiveOrderCart-item_text {
  font-size: medium;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 15px;
}
.ActiveOrderCart-item_name {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
.ActiveMenuItem-name {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.ActiveOrderCart-item_price {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 60px;
  margin-left: 36px;
  margin-right: 5px;
}
.ActiveMenuItem-description {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 70px;
  margin-left: 36px;
  margin-right: 10px;
}
.ActiveMenuItem-price {
  font-size: small;
  font-weight: bold;
  text-align: left;
  margin-left: 36px;
  margin-right: 10px;
}
.ActiveOrderCart-item_quantity {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 60px;
  margin-left: 36px;
  margin-right: 10px;
}
.Order-items {
  text-align: center;
  margin: 5px;
  color: rgb(12, 99, 48);
  font-weight: bold;
}
.OrderItem_total {
  font-size: medium;
  font-weight: bold;
  text-align: right;
  margin-right: 18px;
}
.ActiveOrderCart-item_text {
  font-size: medium;
  font-weight: bold;
  margin-left: 36px;
}
.ActiveOrderCart-item_amount {
  font-size: small;
  font-weight: bold;
  text-align: left;
  width: 60px;
  margin-left: 36px;
  margin-right: 10px;
}
.InactiveOrderCart-item_text {
  font-size: small;
  font-weight: 500;
  color: darkslategray;
  margin-left: 20px;
  margin-right: 36px;
}
.ItemHeading-name {
  font-size: 15px;
  font-weight: bold;
  width: 180px;
  margin-left: 1px;
  margin-right: 10px;
}

.ItemHeading-rate {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  margin-left: 36px;
  margin-right: 10px;
}

.ItemHeading-quantity {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  margin-left: 36px;
  margin-right: 10px;
}

.ItemHeading-amount {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  margin-left: 36px;
  margin-right: 10px;
}
